@charset "utf-8";
/* CSS Document */

@font-face {
 font-family:SFU Eurostile;
 src:url("../fonts/SFUEurostileRegular.TTF") format('truetype');
}

@font-face {
 font-family:SFU EurostileBold;
 src:url("../fonts/00248-SFUEurostileBold.TTF") format('truetype');
}

.containerchinh {
	width: 100%;
	height: auto;
	background-color: rosybrown;

	
}

.part1 {
	width: 100%;
	height: 800px;
	background-image: url("../images/bg_coc.png");
	background-size: cover;
	font-family:"SFU Eurostile";
	 background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
	width: 100%;
	height: 50px;

}

.logo {
	width: 30%;
	height: 50px;
	color: #FFF;
	float: left;
}

.logo p { margin-left: 40px; margin-top: 20px; letter-spacing: 3px; font-size: 25px; }
.menu {
	width: 70%;
	height: 50px;
	float: right;font-size: 17px;
}

ul {
	list-style: none;
	margin-top: 10px;
	margin-right: 50px;
}

ul li {
	float: right;
	display: inline-block;
	padding: 16px 40px;
	position: relative;
}




ul li a {
	color: #FFF;
	text-decoration: none;
	
}

ul li ul {
	position: absolute;
	top: 100px;
	left: -40px;
	visibility: hidden;
}

ul li:hover ul {
	visibility: visible;
	top:50px;
	transition: 0.5s;
	
}
ul li ul {transition: 0.3s; visibility: hidden ; ;
	}
ul li ul li {
	margin-left: 50px;
	width: 120px;
	background-color: #FFF;
}

ul li ul li a { 
	margin-left: -20px;
	color: #000;
	width: 85px;
	letter-spacing: 1px;
	line-height: 20px;
}


.name {
	width: 80%;
	height: 150px;
	display: block;
	font-family:SFU EurostileBold;
	font-size: 50px;
	letter-spacing: 5px;
	font-weight: bold;
	color: whitesmoke;
	margin-left: 100px;
	margin-top: 200px;
}

.name h1 {bottom: 0;}


.slogan {
	width: 60%;
	height: 100px;
	display: block;
	font-family: "SFU Eurostile";
	letter-spacing: 3px;
	font-size: 20px;
	color: whitesmoke;
	margin-left: 100px;
}

.info1 {
	font-family: "SFU Eurostile";
	width: 380px;
	height: 300px;
	position: absolute;
	margin-top: 12vw ;
	margin-left: 8vw;
	letter-spacing: 1px;
	line-height: 25px; 
}

.info1 h1{color: #ff7a45}

.info2 {
	font-family: "SFU Eurostile";
	width: 380px;
	height: 300px;
	position: absolute;
	margin-top: 15vw ;
	margin-left: 68vw;
	letter-spacing: 1px;
	line-height: 25px; 
}

.info2 h1{color: #ff7a45}

.part3 {
	width: 100%;
	height: 700px;
	background-color: #030e12;
	position: relative;
}

.fresh {
	position: absolute;
	width: 100%;
	height: 400px;
	font-family: "SFU Eurostile";
	color: #FFFFFF;
	text-align: right;
	top: 11em;
	right: 37em;
}

.sen1{
	width: 100%;
	height: 100px;
	position: absolute;
	text-align: right;
	font-size: 40px;
	font-style: italic;
}

.sen2 {
	width: 100%;
	height:400px;
	position: absolute;
	font-size: 45px;
	text-align: right;
	font-weight: bolder;
	font-style:normal;
	letter-spacing: 5px;
	margin: 100 auto;
	font-family:SFU EurostileBold;
}

.hole {
	z-index: 1;
	position: absolute;
	right:10em;
	top: 8em;
}


.arrow {
	position: absolute;
	color: #FFF;
	bottom: 4em;
	display:inline-block;
	left: 49%;
	animation-delay: 0.4s;
	
}
.arrow:hover {
		animation-name: xoay;
	animation-duration: 2s;
	animation-iteration-count: 1;
}
@keyframes xoay {
	transform: rotate(360;)
}



.part4 {
	width: 100%;
	height: 700px;
	background-color: #000;
	position: relative;

}
 
.part4 h1 {color: #FFF; font-family: "SFU Eurostile"; text-align: center; margin-top: 70px; font-size: 70px;}
.part4 p {color: #FFF; font-family: "SFU Eurostile"; text-align: center; margin-top: 20px; font-size: 20px; font-style: italic}
.project {position: absolute;
width: 100%;
	height: 800px;
}

.part5 {
	width: 100%;
	height: 800px;
	position: relative;
}

.box {
	width: 50%;
	height: 800px;
	position: absolute;
	background-color: var(--background);
	float: left;
}

.box2{
	right:0;
	width: 50%;
	height: 800px;
	float:right;
	position: relative;
	background-color: var(--background);
	font-family: "SFU Eurostile";
	 display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
	display: inline-block;
	position: absolute;
	align-content: center;
	
}

.keepintouch {
	position: absolute;
	font-family:SFU EurostileBold;
	font-size: 65px;
	color: #FFF;
	letter-spacing: 3px;
}

.keepintouch-line {
	position: absolute;
	font-family:SFU EurostileBold;
	font-size: 65px;
	bottom: 20px;
	right: 0;
	color: transparent;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #fff;
	text-align: right;
	letter-spacing: 3px;
	
}





