/* Scss Document */



.underline {
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.underline::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ff7a45;
    transition: width .3s;
	margin-top: 10px;
}

.underline:hover::after {
    width: 100%;
    //transition: width .3s;
}